// Fonts
$fa-font-path: "../fonts/fontawesome-6.4.0/webfonts";

$sans: "mr-eaves-x1-modern", sans-serif;
$decorative: "banshee-std", cursive;

$header-font: $decorative;

$light: 300;
$normal: 400;
$bold: 500;